{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile-container">
        <h1>Votre Profil</h1>

        <div class="profile-info">
            <p><strong>Nom :</strong> {{ user.username }} </p>
             <div class="profile-picture">
                {% if user.profilePicture %}
                    <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Photo de profil" />
                {% else %}
                    <p>Aucune photo de profil</p>
                {% endif %}
            </div>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
            <p><strong>Âge :</strong> {{ user.age }}</p>
            <p><strong>Description :</strong> {{ user.description }}</p>

            <!-- Affichage de la photo de profil -->
           
        </div>

        <!-- Ajouter un bouton pour modifier le profil si nécessaire -->
        <a href="{{ path('app_profile') }}" class="btn-edit-profile">Modifier le profil</a>
    </div>
{% endblock %}
