{% block title %}Liste des Dossiers Médicaux{% endblock %}

{% block stylesheets %}
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <style>
        body {
            background-color: white !important; /* Fond blanc */
        }
    </style>
{% endblock %}

{% block body %}
    <body id="body-pd">
        {#% include 'home/base.html.twig' %#}

        <div class="container-fluid" style="padding-top:1rem;">
            {% if app.request.get('action') == 'supprimer' %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Dossier Médical ! numéro {{ app.request.get('id_A') }}</strong> est supprimé.
                </div>
            {% endif %}

            <h1 class="h3 mb-2 text-gray-800"><b>Liste des Dossiers Médicaux</b></h1>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Informations des Dossiers Médicaux</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Type de Maladie</th>
                                    <th>Date de Création</th>
                                    <th>Description</th>
                                    <th>Dernier Suivi</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dossier_medica_l in dossier_medica_ls %}
                                    <tr>
                                        <td>{{ dossier_medica_l.id }}</td>
                                        <td>{{ dossier_medica_l.typemaladie }}</td>
                                        <td>{{ dossier_medica_l.dateCreation ? dossier_medica_l.dateCreation|date('Y-m-d') : '' }}</td>
                                        <td>{{ dossier_medica_l.description }}</td>
                                        <td>{{ dossier_medica_l.dernierSuivi ? dossier_medica_l.dernierSuivi|date('Y-m-d') : '' }}</td>
                                        <td>
                                            <form action="{{ path('app_dossier_medica_l_show', {'id': dossier_medica_l.id}) }}" style="display: inline;">
                                                <button class="btn btn-info" type="submit" title="Afficher">
                                                    <i class="fas fa-eye"></i> Afficher
                                                </button>
                                            </form>
                                            <form action="{{ path('app_dossier_medica_l_edit', {'id': dossier_medica_l.id}) }}" style="display: inline;">
                                                <button class="btn btn-warning" type="submit" title="Modifier">
                                                    <i class="fas fa-edit"></i> Modifier
                                                </button>
                                            </form>
                                            <form action="{{ path('app_dossier_medica_l_delete', {'id': dossier_medica_l.id}) }}" method="post" style="display: inline;">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossier_medica_l.id) }}">
                                                <button class="btn btn-danger" type="submit" title="Supprimer">
                                                    <i class="fas fa-times"></i> Supprimer
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">Aucun dossier trouvé</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function() {
                var table = $('#dataTable').DataTable();
            });
        </script>
    </body>
{% endblock %}
