{% extends 'base.html.twig' %}

{% block title %}CategorieEvent index{% endblock %}

{% block body %}
    <h1>CategorieEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomCategorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_event in categorie_events %}
            <tr>
                <td>{{ categorie_event.id }}</td>
                <td>{{ categorie_event.NomCategorie }}</td>
                <td>
                    <a href="{{ path('app_categorie_event_show', {'id': categorie_event.id}) }}">show</a>
                    <a href="{{ path('app_categorie_event_edit', {'id': categorie_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_event_new') }}">Create new</a>
{% endblock %}
