<!DOCTYPE html>

<title>DocumentMedical</title>

{% block body %}
    <h1>DocumentMedical</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document_medical.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ document_medical.type }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ document_medical.titre }}</td>
            </tr>
            <tr>
                <th>DateUpload</th>
                <td>{{ document_medical.dateUpload ? document_medical.dateUpload|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ document_medical.fichier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_document_medical_index') }}">back to list</a>

    <a href="{{ path('app_document_medical_edit', {'id': document_medical.id}) }}">edit</a>

    {{ include('document_medical/_delete_form.html.twig') }}
{% endblock %}
